# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/Workshop_MonitoraSummer.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea
notebooks/.ipynb_checkpoints/
